<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mit.au.spb.olga.catendar" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="@string/create_event_title" >
        </activity>
        <activity android:name=".TaskListActivity" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".CreateTaskActivity"
            android:label="Create task">
        </activity>
        <activity
            android:name=".CreateWeekActivity"
            android:label="Create week">
        </activity>
        <activity
            android:name=".CreateTemplateActivity"
            android:label="Create template">
        </activity>
        <activity
            android:name=".AddEventForTemplateActivity"
            android:label="Create event">
        </activity>
    </application>

</manifest>
